<header class="masthead container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">VERY GOOD Restaurant</h1>
      <p class="lead">This is the best damn restaurant in all of Indiana</p>
    </div>
  </div>

    <div id="nav">
      <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <a href="/" class="navbar-brand">VGR</a>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li>
                <a href="/items">View All</a>
              </li>
              <li>
                <a href="/new">Add Item</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</header>