<header class='header-container'>
  <div id='header-title'>
    <h1 class='header-title-h1'>VERY GOOD RESTAURANT</h1>
    <p class='header-subtitle'>The best damn restaurant in all of Indiana</p>
  </div>
  <div id='navbar'>
    <div id='nav-links'>
      <div id='nav-home' class='nav-item'>
        <a href='/' class='nav-link nav-logo'>VGR</a>
      </div>
      <div id='nav-all' class='nav-item'>
        <a href='/items' class='nav-link'>View All</a>
      </div>
      <div id='nav-new' class='nav-item'>
        <a href='/new' class='nav-link'>New Item +</a>
      </div>
    </div>
  </div>
</header>