<html>
  <head>
    <title>VERY GOOD Restaurant</title>
    <link rel="stylesheet" href="./css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <div class="container">
      <%= erb :header %>
    </div>
    <div class="page-body">
      <%= yield %>
    </div>
  </body>
</html>