#header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
}

#navbar {
  display: flex;
  align-content: left;
  justify-content: space-around;
  background-color: black;
}